{% extends 'layout/layout.twig' %}

{% block subtitle %}Edit a Course{% endblock %}

{% block summary %}{% endblock %}

{% block main %}
    <main class="align-center">
        <form class="form" method="post" action={{ url('courses!update', {'id': course.id}) }}>
            <fieldset>
                <legend>
                    <i class="fas fa-chalkboard-teacher fa-2x"></i>
                </legend>
                <ul>
                    <li>
                        <label for="name">Name*</label>
                        <input id="name" name="name" type="text" maxlength="20" required value="{{ course.name }}">
                    </li>
                    <li>
                        <label for="content">Content*</label>
                        <textarea id="content" name="content" rows="15" cols="30" required>{{ course.content }}</textarea>
                    </li>
                </ul>
                <ul>
                    <li>
                        <input type="reset" value="Reset">
                        <input type="submit" value="Update">
                    </li>
                </ul>
            </fieldset>
        </form>
        <a class="btn-black btn-lg" href="{{ url('admin') }}">Quit</a>
    </main>
{% endblock %}
