{% extends 'layout/layout.twig' %}

{% block subtitle %}List of Resources{% endblock %}

{% block summary %}IT Development Resources for HTML, CSS, JavaScript, PHP & SQL{% endblock %}

{% block main %}
<main>
    <section>
        <h2>Technologies Available</h2>
            <ul class="row">
                {% for technology in allResources|keys %}
                <li>
                    <a class="btn-blue" href="{{ url('resources!read', {'technology': technology}) }}">
                        <h3 class="mar-none">{{ technology }}</h3>
                    </a>
                </li>
                {% endfor %}
            </ul>
    </section>
</main>
{% endblock %}
