@import url('https://fonts.googleapis.com/css2?family=Geo&family=Rozha+One&family=Syne+Mono&display=swap');

:root {
  --sans-serif: 'Geo', sans-serif;
  --serif: 'Rozha One', serif;
  --monospace: 'Syne Mono', monospace;
  --shrink: scale(1.5, 1.5);
}

body {
  --body-background-color: var(--grey-light);
}

h1,
h2 {
  --title-color: var(--black);
}

h3 {
  --title-color: var(--gray);
}

.navbar {
  --navbar-background-color: var(--in);
}

.head {
  --head-border: medium solid var(--fb);
  --head-color: var(--tw);
}

.foot {
  --foot-list-background-color: var(--pp);
  --foot-list-link-hover-font-color: var(--orange);
}

.table {
  --table-title-color: var(--green);
  --table-title-background-color: var(--yellow-light);
  --table-even-background-color: var(--white);
  --table-even-hover-background-color: var(--sky);
  --table-odd-hover-background-color: var(--sky);
  --table-even-color: var(--gray);
  --table-even-hover-color: var(--black);
  --table-odd-hover-color: var(--black);
}
