:root {
  --sans-serif-font-family: 'Text Me One', sans-serif;
  --serif-font-family: 'Cinzel', serif;
  --monospace-font-family: 'Share Tech Mono', monospace;
}

body {
  background-color: var(--silver-light);
}

.table {
  --table-row-even-hover-background-color: var(--violet);
  --table-row-odd-hover-background-color: var(--sky);
  --table-row-even-hover-color: var(--black);
  --table-row-odd-hover-color: var(--black);
}

.foot-visual {
  --foot-visual-padding: 0;
}
