{% extends 'layout/layout.twig' %}

{% block title %}Administration{% endblock %}

{% block description %}{% endblock %}

{% block main %}
<input id="menu-radio1" 
    class="menu-radio1" 
    type="radio" 
    name="menu" 
    checked>
<input id="menu-radio2" 
    class="menu-radio2" 
    type="radio" 
    name="menu">

<nav class="menu">
    <label for="menu-radio1" 
        title="Voir les Ressources">
        <i class="fas fa-box-open"></i>
        <span>
            Ressources
        </span>
    </label>
    <label for="menu-radio2" 
        title="Voir les Utilisateurs">
        <i class="fas fa-users"></i>
        <span>
            Utilisateurs
        </span>
    </label>
</nav>

<main class="menu-relay">

    {{ include("back/admin/listResources.twig") }}
    {{ include("back/admin/listUsers.twig") }}
    
</main>
{% endblock %}
