{% extends 'layout/layout.twig' %}

{% block title %}Créer une Nouvelle Ressource{% endblock %}

{% block description %}{% endblock %}

{% block main %}
    <main class="align-center">
        <form class="form" method="post" action={{ url('resources!create') }}>
            <fieldset>
                <legend>
                    <i class="fas fa-box-open fa-2x"></i>
                </legend>
                <ul>
                    <li>
                        <label for="name">Nom*</label>
                        <input id="name" name="name" type="text" maxlength="30" required placeholder="Insérer le Nom de la Ressource">
                    </li>
                    <li>
                        <label for="link">Lien*</label>
                        <input id="link" name="link" type="text" maxlength="100" required placeholder="Insérer le Lien de la Ressource">
                    </li>
                    <li>
                        <label for="category">Catégorie*</label>
                        <input id="category" name="category" type="text" maxlength="30" required placeholder="Insérer la Catégorie de la Ressource">
                    </li>
                    <li>
                        <label for="technology">Technologie*</label>
                        <select id="technology" name="technology" required title="Choisissez la Technologie de la Ressource">
                            <option value="">Choisissez une Technologie</option>
                            <option value="HTML">HTML</option>
                            <option value="CSS">CSS</option>
                            <option value="JS">JavaScript</option>
                            <option value="PHP">PHP</option>
                            <option value="SQL">SQL</option>
                            <option value="Git">Git</option>
                            <option value="Media">Media</option>
                        </select>
                    </li>
                    <li>
                        <label for="description">Description*</label>
                        <textarea id="description" name="description" rows="5" cols="30" required placeholder="Insérer la Description de la Ressource"></textarea>
                    </li>
                </ul>
                <ul>
                    <li>
                        <input type="reset" value="Réinitialiser">
                        <input type="submit" value="Créer">
                    </li>
                </ul>
            </fieldset>
        </form>
        <a class="btn-black btn-lg" href="{{ url('admin') }}">Quitter</a>
    </main>
{% endblock %}
