{% extends 'layout/layout.twig' %}

{% block title %}Contact{% endblock %}

{% block description %}Vous pouvez me contacter avec un message{% endblock %}

{% block script %}
    <script src="js/recaptcha.js"></script>
    <script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit" async defer></script>
{% endblock %}

{% block main %}
<main>
    <form class="form anima-growX" method="post" action={{ url('contact') }}>
        <fieldset>
            <ul>
                <li>
                    <label class="anima-slideR" for="name">Nom</label>
                    <input class="anima-slideL" id="name" name="name" type="text" placeholder="Votre Nom" maxlength="20" required>
                </li>
                <li>
                    <label class="anima-slideR" for="email">Courriel</label>
                    <input class="anima-slideL" id="email" name="email" type="email" placeholder="Votre Courriel" maxlength="50" required>
                </li>
                <li>
                    <label class="anima-slideR" for="subject">Sujet</label>
                    <input class="anima-slideL" id="subject" name="subject" type="text" placeholder="Votre Sujet" maxlength="50" required>
                </li>
                <li>
                    <label class="anima-slideR" for="message">Message</label>
                    <textarea class="anima-slideL" id="message" name="message" placeholder="Votre Message" rows="5" cols="20"></textarea>
                </li>
            </ul>
            <ul>
                <li>
                    <div id="recaptcha" class="g-recaptcha container bord-navy bord-sm" data-sitekey="6LdTBtoZAAAAADITfTTXpjsctFXZqKXZc-seM9ZL"></div>
                </li>
                <li>
                    <input class="anima-slideR" type="reset" value="Réinitialiser">
                    <input class="anima-slideL" type="submit" value="Envoyer">
                </li>
            </ul>
        </fieldset>
    </form>
    <a class="btn-black btn-lg" href="{{ url('home') }}">Quitter</a>
</main>
{% endblock %}
