{% extends 'layout/layout.twig' %}

{% block title %}Créer une Ressource{% endblock %}

{% block description %}{% endblock %}

{% block main %}
<main>
    <form class="form" 
        method="post" 
        action={{ url('resources!create') }}>
        <fieldset>
            <legend>
                <i class="fas fa-box-open fa-2x"></i>
            </legend>
            <ul>
                <li>
                    <label for="name">
                        Nom
                    </label>
                    <input id="name" 
                        name="name" 
                        type="text" 
                        maxlength="30" 
                        placeholder="Insérer le Nom"
                        required>
                </li>
                <li>
                    <label for="link">
                        Lien
                    </label>
                    <input id="link" 
                        name="link" 
                        type="text" 
                        maxlength="100" 
                        placeholder="Insérer le Lien"
                        required>
                </li>
                <li>
                    <label for="category">
                        Catégorie
                    </label>
                    <input id="category" 
                        name="category" 
                        type="text" 
                        maxlength="30" 
                        placeholder="Insérer la Catégorie"
                        required>
                </li>
                <li>
                    <label for="technology">
                        Technologie
                    </label>
                    <select id="technology" 
                        name="technology" 
                        title="Choisissez la Technologie"
                        required>
                        <option value="">
                            Choisissez une Technologie
                        </option>
                        <option value="HTML">
                            HTML
                        </option>
                        <option value="CSS">
                            CSS
                        </option>
                        <option value="JS">
                            JavaScript
                        </option>
                        <option value="PHP">
                            PHP
                        </option>
                        <option value="SQL">
                            SQL
                        </option>
                        <option value="Git">
                            Git
                        </option>
                        <option value="Media">
                            Media
                        </option>
                    </select>
                </li>
                <li>
                    <label for="description">
                        Description
                    </label>
                    <textarea id="description" 
                        name="description" 
                        rows="5" 
                        cols="30" 
                        placeholder="Insérer la Description"
                        required></textarea>
                </li>
            </ul>
            <ul>
                <li>
                    <input type="reset" 
                        value="Réinitialiser">
                    <input type="submit" 
                        value="Créer">
                </li>
            </ul>
        </fieldset>
    </form>
    <a class="btn-black btn-lg" 
        href="{{ url('admin') }}">
        Quitter
    </a>
</main>
{% endblock %}
